{% extends "layout1.html" %}
{% block body %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">KIIT DEEMED TO BE UNIVERSITY</h3>
            <div class="subheading mb-3">Bachelor of Technology</div>
            <div>Computer Science & Engineering</div>
            <p>CGPA: 9.14</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2017 - July 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Egra J.L. High School</h3>
            <div class="subheading mb-3">Class 12</div>
            <p>PERCENTAGE: 88.8</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">PASSING YEAR-2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Egra J.L. High School</h3>
            <div class="subheading mb-3">Class 10</div>
            <p>PERCENTAGE: 88.85</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">PASSING YEAR-2015</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">
    {% endblock %}