{% extends "layout1.html" %}
{% block body %}
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Android app based on car polling</h3>
            <div class="subheading mb-3">KIIT UNIVERSITY (MINOR PROJECT)</div>
            <p>We make an app Based on the car pooling concept to offer a ride if rider interested to offer other people who are going in same direction.This save fuel cost,Decrease pollution,Decrease traffic as we were not launching new car for this app. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">DECEMBER 2019 - MARCH 2020</span>
          </div>
        </div>
    </section>
    {% endblock %}