{% extends "layout1.html" %}
{% block body %}


  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Subhankar
          <span class="text-primary">Senapati</span>
        </h1>
        <div class="subheading mb-5">Egra,West Bengal,PIN-721429,Dist-Purba Medinipur,P.O.-Egra
          <a href="mailto:name@email.com">subhankar16061999@gmail.com</a>
        </div>
        <p class="lead mb-5">I am a <strong><em>data scientist beginner</em></strong> , <strong><em>android devloper</em></strong> and currently doing <strong><em>Internship at High Radius</em></strong></p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section> 
    <hr class="m-0">
  
{% endblock %}