{% extends "layout1.html" %}
{% block body %}
<hr class="m-0">
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="publications">
      <div class="w-100">
        <h2 class="mb-5">publications</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Performance Analysis of SDN based Crowd-Sourcing Cloud architechture</h3>
            <div class="subheading mb-3">AISCC-2020</div>
            <p>We propose an model for and based crowd sourcing cloud architechture and give performance analysis of this model.This paper is accepted in AISCC-2020 conference.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">FEBRUARY 2020</span>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Performance Analysis of Enhanced Mist-Assisted Cloud Computing For Health Care System</h3>
            <div class="subheading mb-3">ICCSEA-2020</div>
            <p>We proposed an model for Enhanced Mist assisted cloud computing model for Health care system and give performance analysis of this model which is accepted in ICCSEA-2020 conference.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">FEBRUARY 2020</span>
          </div>
        </div>
    </section>
    {% endblock %}